.row{
    padding: 20px;
    background-color: #b7b7a494;
/*     background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    /* animation: fanimado 10s infinite; */
}

/* @keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
} */

div{
    /* background-color: #a1b5cb; */
    text-align: center;
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
}


/* @media (max-width: 575px){ NOSE NO FUNCIONA
    .fotodeperfil{
        height: auto;
        width: 40%;
    }
} */


/* que la foto quede en el medio y sea redonda */
/* @media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
    }
} */