<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Emprendimiento Propio</h1> - <h3>2018-2021</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. maiores molestiae cumque ducimus atque rerum<br>
                mollitia distinctio, debitis nesciunt aspernatur? Accusantium, debitis doloribus
                alias cum architecto quod.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Nucleo IT</h1> - <h3>2022-Actualidad</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. maiores molestiae cumque ducimus atque rerum<br>
                mollitia distinctio, debitis nesciunt aspernatur? Accusantium, debitis doloribus
                alias cum architecto quod.
            </p>
        </ul>
        <!--         <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut maiores molestiae cumque ducimus atque rerum,
                commodi sunt amet, mollitia distinctio, debitis nesciunt aspernatur? Accusantium, debitis doloribus
                alias cum architecto quod.</p>
        </ul> -->
    </div>
</div>