<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
        
                <a href="https://www.linkedin.com/in/gustavo-flores-91b28b229/" class="link" target="_blank"><img src="../../../assets/images/linkedin.png" id="linkedin"></a>
                <a href="https://www.instagram.com/gustii.f/" class="link" target="_blank"><img src="../../../assets/images/instagram.png" id="instagram"></a>
                <a href="https://github.com/gusfloresok" class="link" target="_blank"><img src="../../../assets/images/github.png" id="github"></a>
                <button type="button"  style="margin-left: 2% ; margin-right: 2%" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INICIAR SESION</button>
                <button type="button"  style="margin-left: 2% ; margin-right: 2%" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        
        </div>
    </div>
</div>

