#logoAP{
    width: 150px;
}

img{
    width: 50px;
}

.redes{
    margin-right: 0.5em;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-width: 2px;
}

/* Desde dispositivos molives */
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* fin moviles */